
<h1>Searching tweets on twitter.com</h1>

<p class=><%= @dados.size %> tweets encontrados.</p>

<p><%= link_to "voltar para todos os tweets", root_path %>

<% @dados.each do |t| %> 
  <div class=tweets>
    <p><%= t["text"] %></p>
    <span><%= t["from_user"] %></span>
  </div>
<% end %>


